* {
    transition: all 0.2s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }


  body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .container {  

    display: grid; 
    grid-template-columns: 1fr 12.6fr 1fr; 
    grid-template-rows: 1fr 0.2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "grid1 grid2 grid3"
      "grid4 grid5 grid6"
      "grid7 grid8 grid9";
  }

  
  .grid7 { grid-area: grid7; }

  .grid8 { grid-area: grid8; }

  .grid9 { grid-area: grid9; }
  
  .grid6 { grid-area: grid6; }

  .grid5 { grid-area: grid5; }

  .grid4 { grid-area: grid4; }

  
  .grid3 { grid-area: grid3; }

  .grid2 { grid-area: grid2; }
  
  .grid1 { grid-area: grid1; }
  

  /* .hr {
    width: 100px;
    height: 100px;
    color: aqua;
    
  } */

  p {
    /* color: white;
    font-size: 70px; */
    font-family: 'Titillium Web', sans-serif;
    /*margin-bottom: 0px;
    margin-top: 200px; */
    border-right: solid 3px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;    
    font-size: 28px;
    color: rgba(255,255,255,.70);

  }

  p {
    animation: animated-text 4s steps(13)
    1s 1 normal both,
    animated-cursor 500ms steps(13)
    inifinite normal;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }

  @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.70);}
    to{border-right-color: transparent;}
  }

  
  h2 {
    color: white;
    font-size: 50px; 
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0px;

  }

  h3 {
    color: white;
    font-size: 20px; 
    font-family: 'Titillium Web', sans-serif;
    margin-top: -9px;

  }

  /* Vertical lines with margin */

  .ver-line {
    /* position: absolute; z-index: 5px; */
    width: 50px;
    height: 70%;
    border-right: solid #AAECF8 1px;
    margin-top: 60px;
    margin-bottom: 150px;

    
  }

  .ver-line2 {
    /* position: absolute; z-index: 5px; */
    width: 50px;
    height: 70%;
    border-right: solid #AAECF8 1px;
    margin-top: 44px;
    /* margin-bottom: 100px; */

    
  }

  .icon {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .corner-img {
     margin-top: 0px;
  }

  
























  /* @media (min-width: 767px) {

    body {
      background-image: url(./img/background.png);
    }
    .container {
      display: flex;
  
    }
  
    footer {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }
  
  @media (min-width: 480px) {
    body {
      background-image: url(./img/background.png);
    }
  }
   */


