* {
    transition: all 0.2s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }


  body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  /* Nav configuration */

  .topnav {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    overflow: hidden;
    
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #132F40;
    color: white;
  }
  /* End of Nav configuration */

  /* Grid Home page */

  .container {  

    display: grid; 
    grid-template-columns: 1fr 12.6fr 1fr; 
    grid-template-rows: 1fr 0.2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "grid1 grid2 grid3"
      "grid4 grid5 grid6"
      "grid7 grid8 grid9";
  }

  
  .grid7 { grid-area: grid7; }

  .grid8 { grid-area: grid8; }

  .grid9 { grid-area: grid9; }
  
  .grid6 { grid-area: grid6; }

  .grid5 { grid-area: grid5; }

  .grid4 { grid-area: grid4; }

  
  .grid3 { grid-area: grid3; }

  .grid2 { grid-area: grid2; }
  
  .grid1 { grid-area: grid1; }
  

  /* .hr {
    width: 100px;
    height: 100px;
    color: aqua;
    
  } */
  /* section {
    padding: 40px;

  } */
  
  h2 {
    color: white;
    font-size: 50px; 
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0px;

  }

  h3 {
    color: white;
    font-size: 20px; 
    font-family: 'Titillium Web', sans-serif;
    margin-top: -9px;

  }

  /* Vertical lines with margin */

  .ver-line {
    /* position: absolute; z-index: 5px; */
    width: 50px;
    height: 70%;
    border-right: solid #AAECF8 1px;
    margin-top: 60px;
    margin-bottom: 150px;

    
  }

  .ver-line2 {
    /* position: absolute; z-index: 5px; */
    width: 50px;
    height: 70%;
    border-right: solid #AAECF8 1px;
    margin-top: 44px;
    /* margin-bottom: 100px; */

    
  }

  /* End of vertical lines */

  .icon {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .corner-img {
     margin-top: -63px;
  }

  /* End Grid Home Page */


  /* Grid About Page */


  .container-about {  
    display: grid;
    grid-template-columns: 1.5fr 0.3fr 1.8fr;
      grid-template-rows: 0.1fr 2fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "about1 about2 about3"
        "about4 about5 about6";
    }

    .name3 {
      font-family: 'Titillium Web', sans-serif;
      font-size: 70px;
      color: rgb(255, 255, 255);
      margin-top: 30px;
      font-weight: bold;
      margin-left: 50px;
  
      
    }

    .bio {
      margin-left: 50px;
      margin-top: 10px;
    }

    .bio-photo {
      align-items: center;
      margin-left: 30%;
      margin-top: 10%;
      width: 500px;
    }
    
    .about1 { 
      grid-area: about1;
      width: 100%;
      height: 1px;
      border-top: solid #AAECF8  1px;
      margin-left: 20px;
      margin-top: 70px
    }

     
    
    .about2 { 
      grid-area: about2;
      /* display: flex;*/
      margin-left: 40px;
      /*height: 40px; */
      margin-top: 50px; }

    .icon2 {
      margin-right: 10px;
      margin-top: 5px;
      width: 40px;
    }

    .icon3 {

      width: 37px;
      height: 35px;
      margin-right: 10px;
      margin-top: 1px;
      margin-left: 10px;
    }
    
    .about3 { 
      grid-area: about3;
      width: 95%;
      height: 1px;
      border-top: solid #AAECF8  1px;
      margin-top: 70px;
    
    }
    
    .about4 { grid-area: about4; }
    
    .about5 { grid-area: about5; }
    
    .about6 { grid-area: about6; }

    /* End Grid about */

    /* Grid Projects page */


    
    .container-projects {
      display: grid; 
      grid-template-columns: 0.2fr 1.8fr 0.4fr 1.6fr; 
      grid-template-rows: 0.2fr 0.2fr 2.6fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "proy1 proy2 proy3 proy4"
        "proy5 proy6 proy6 proy6"
        "proy7 proy8 proy8 proy8"; 
    }

    .proy1 { grid-area: proy1; }
    
    .proy2 { 
      grid-area: proy2;
      width: 100%;
      height: 1px;
      border-top: solid #AAECF8  1px;
      margin-left: 20px;
      margin-top: 70px
    
    }
    
    .proy3 { 
      grid-area: proy3;
      margin-left: 40px;
      margin-top: 50px; 
    
    }

    .icon4 {
      margin-right: 10px;
      margin-top: 5px;
      width: 40px;

    }

    .icon5 {

      width: 37px;
      height: 35px;
      margin-right: 10px;
      margin-top: 1px;
      margin-left: 10px;

    }
    
    .proy4 { 
      grid-area: proy4;
      width: 95%;
      height: 1px;
      border-top: solid #AAECF8  1px;
      margin-left: -20px;
      margin-top: 70px
    
    }

    .title-project {
      font-family: 'Titillium Web', sans-serif;
      font-size: 70px;
      color: rgb(255, 255, 255);
      margin-top: 30px;
      font-weight: bold;
      margin-left: 50px;

    }
    
    .proy5 { grid-area: proy5; }
    
    .proy6 { grid-area: proy6; }

    .proy7 { grid-area: proy7; }

    .proy8 { grid-area: proy8; }
    
  
























  /* @media (min-width: 767px) {

    body {
      background-image: url(./img/background.png);
    }
    .container {
      display: flex;
  
    }
  
    footer {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }
  
  @media (min-width: 480px) {
    body {
      background-image: url(./img/background.png);
    }
  }
   */


